<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div id="page1">
    <nav>
      <a href="/">Home</a>
      &nbsp;&nbsp;
      <a href="/register">Register Book</a>
      &nbsp;&nbsp;
      <a href="/show">Show Book</a>
      &nbsp;&nbsp;
      <a href="/about">About</a>
    </nav>
    <h2>This is home page</h2>
  
  </div>
 
</body>
</html>
