<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Document</title>
</head>
<body>
    <div id="page1">
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;
            <a href="/register">Register Book</a>
            &nbsp;&nbsp;
            <a href="/show">Show Book</a>
            &nbsp;&nbsp;
            <a href="about">About</a>
        </nav>

        <form action="/register" method="post">
            <h2>Register Here</h2>
            <br>
            <input type="number" name="Book-Id" placeholder="  Book-Id">
            <br><br>
            <input name="Image" type="url" placeholder="Image link">
            <br><br>
            <input type="text" name="Name" placeholder="  Name">
            <br><br>
            <input type="text" name="Auther" placeholder="  Auther Name">
            <br><br>
            <input type="number" name="Page" placeholder="  Page">
            <br><br>
            Publication Date
            <br>
            <input type="date" name="Publication" >
            <br><br>
            <input type="number" name="Price" placeholder="  Price">
            
            <br><br>
            <textarea name="Description" rows="5" placeholder="  Description"></textarea>
            <br><br>
            <input type="number" name="Year" placeholder="  Year">
            <br><br>
            <button>Submit</button>
               
            
        </form>
    </div>
   
    
  
</body>
</html>